@import "tailwindcss";

@source "../components";
@source "../utilities";

@theme {
	--animate-accordion-up: accordion-up 350ms ease;
	--animate-accordion-down: accordion-down 350ms ease;
}

@keyframes accordion-up {
	from {
		height: var(--radix-accordion-content-height);
	}
	to {
		height: 0;
	}
}

@keyframes accordion-down {
	from {
		height: 0;
	}
	to {
		height: var(--radix-accordion-content-height);
	}
}
