@import "tailwindcss";

@source "../components";
@source "../utilities";

@theme {
	--animate-accordion-up: accordion-up 350ms ease;
	--animate-accordion-down: accordion-down 350ms ease;
	--animate-fade-in: fade-in 350ms ease;
	--animate-fade-out: fade-out 350ms ease;
}

@keyframes accordion-up {
	from {
		height: var(--radix-accordion-content-height);
	}
	to {
		height: 0;
	}
}

@keyframes accordion-down {
	from {
		height: 0;
	}
	to {
		height: var(--radix-accordion-content-height);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
